.container {
  position: relative;
  min-height: calc(100vh - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
  @media (max-width: 520px) {
    width: 100%;
    max-width: 360px;
  }
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button {
  width: 100%;
}

.links {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

.error {
  color: #E52B1A;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(229, 43, 26, 0.1);
  border-radius: 4px;
  border: 1px solid rgba(229, 43, 26, 0.3);
} 